body {
  overflow-x: hidden;

}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #154360;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding-top: 15px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

/*ESTO LE DA ESTILO AL SUBMENU DEL SIDEBAR*/
ul ul li a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/*ESTO PERTENECE AL BOTON "INICIO" DEL SIDEBAR*/
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 30px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/*Permite que el drop-menu no se salga de la pantalla*/
li.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
}

.navbar-top-links .dropdown-alerts {
  right: 0;
  left: auto;
}
.navbar{
  background-color: #212F3C;
}

.espacio{
 height: 20px;
}
.espacio1{
   height: 50px;
}
.borde{ 
  width: 65%;
  border-radius: 5px;
  border: 1px solid  #a1a09f;
  margin-bottom: 20px;
  padding-bottom: 5px;

}
.borde1{
  background-color:rgba(161, 160, 159 ,0.5);   
}

.errores {
  color: red;
  font-size: 12px;
}